<div class="container">
    <form action="" method="post"><input type="email" name="" id=""></form>
</div>
<div class="container">
    <h1>{{data.titulo}}</h1>
    <p>{{data.p}}</p>
    <p>{{data.p}}</p>
    <p>{{data.p}}</p>
    <p>{{data.p}}</p>
    <p>{{data.p}}</p>
</div>

<footer>
    <a href="/">volver</a>
</footer>